In [191]:
import pandas as pd
import numpy as np

In [192]:
# Data Frames
from numpy.random import randn

In [193]:
np.random.seed(101)
df = pd.DataFrame(data=randn(5,4), index=['A', "B", "C", "D","E"], columns=["W", "X", "Y", "Z"])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [194]:
df['W']
# Columns selection
df[['W', "Z"]]
# Rows selection
df.loc['A']
df.iloc[0]

# Both Column & Row selection
df.loc["A", 'W']
df.loc[['A', "B"], ["W", "Y"]]

# type(df["W"]) # Series

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [195]:
# Creating new column
df['new'] = 21
df

          W         X         Y         Z  new
A  2.706850  0.628133  0.907969  0.503826   21
B  0.651118 -0.319318 -0.848077  0.605965   21
C -2.018168  0.740122  0.528813 -0.589001   21
D  0.188695 -0.758872 -0.933237  0.955057   21
E  0.190794  1.978757  2.605967  0.683509   21

In [196]:
# Dropping a column
df.drop('new', axis=1, inplace=True)
df
# Dropping a row
df.drop("E", axis=0, inplace=True)

In [197]:
df.shape

(4, 4)