In [19]:
import numpy as np
import pandas as pd

In [20]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1,2 ,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [25]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, ["A", "B"])
df

             A         B
G1 1  1.548437 -0.361322
   2 -0.608952  0.162346
   3  0.001332 -0.430082
G2 1 -1.483481  1.426387
   2 -0.307741 -0.187579
   3 -1.253258  0.180796

In [41]:
df.loc['G1'].loc[1]

A    1.548437
B   -0.361322
Name: 1, dtype: float64

In [45]:
df.index.names = ["Groups", "Num"]
df

                   A         B
Groups Num
G1     1    1.548437 -0.361322
       2   -0.608952  0.162346
       3    0.001332 -0.430082
G2     1   -1.483481  1.426387
       2   -0.307741 -0.187579
       3   -1.253258  0.180796

In [51]:
df.xs(1, level='Num')

               A         B
Groups
G1      1.548437 -0.361322
G2     -1.483481  1.426387