In [1]:
import numpy as np
import pandas as pd

In [7]:
d = {"A":[1,2, np.nan], "B": [5, np.nan, np.nan], "C": [1,2,3]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [18]:
cleaned_rows = df.dropna(axis=0)
print('rows dropped', cleaned_rows)

cleaned_columns = df.dropna(axis=1)
print('columns dropped', cleaned_columns)

rows dropped      A    B  C
0  1.0  5.0  1
columns dropped    C
0  1
1  2
2  3

In [30]:
df.dropna(axis=0, thresh=2) # set limit for dropping

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [29]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64